body {
    color: rgb(0, 0, 0);
    background-color: rgb(8, 108, 240);
    margin: 0px;
    font-family: "Oswald", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(0, 255, 0);
    padding: 20px;
    font-size: 32px;
    color: black;

}

.chamada {
    background: rgb(255, 31, 31);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;

}

.chamada-texto {
    margin-right: 5%;
}

h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}
.categoria-vídeos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
.categoria{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;

}
.categoria-vídeos img{
    opacity: 0.5;
    height: 200px;
}
.categoria-vídeos img:hover{
    opacity: 1.0;
    border: 1px solid yellow;
}
.categoria h2{
    color: blue;
}